.send-button {
    font-family: 'Press Start 2P', Helvetica, Arial, sans-serif;
    position: relative;
    height: 3rem;
    padding: 10px;
    margin: 10px;
    background-color: #5aa0ca;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: lighten(#5aa0ca, 5%);
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
      color: #1e1e1e;
      text-decoration: line-through;
    }
}